#body{background-color: blueviolet;}
#countlabel{
    display: block;
    text-align: center;
    font-size: 12em;
    font-family: helvetica;
    margin-top: 15%;
    }
#btncontainer{text-align: center;}
.btns{
    padding: 10px 20px;
    font-size: 3.5em;
    color: white;
    background-color:hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    }
.btns:hover{background-color:hsl(214, 100%, 56%);}

